package templs

// note: not sure if I shoudl welcome the user here
templ Landing() {
<head>
      <script src="https://unpkg.com/htmx.org@1.9.9"></script>
      <meta http-equiv="refresh" content="5;url=/handleWelcome" />

</head>
  <div>
    <div _="on load wait 5s then then transition opacity to 0 then remove me">
      Loading...
    </div>
  </div>
}
