package templs

templ Renderer(content string) {
	<html>
		<head>
			<title>Rocketing</title>
			<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		</head>
		<body>
		<canvas id="rocket-render" width="50vw" height="50vh"></canvas>
		 </body>
	</html>
}
