package templs

templ Rockets() {
	<html>
		<head>
			<title>Rockets</title>
			<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		</head>
		<body>
        rockets should be loaded here
		 </body>
	</html>
  
}
